First we will review the old way
step one we are reading in a file and getting the unique accounts out of that list

In [1]:
import unicodecsv
def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)
daily_engagement = read_csv('daily-engagement-full.csv')

Next we are getting the uniques student count

In [2]:
def get_unique_students(data):
    unique_students = set()
    for data_point in data:
        unique_students.add(data_point['acct'])
    return unique_students
unique_engagement_students = get_unique_students(daily_engagement)
len(unique_engagement_students)

1237

Lets take the 13 lines of code from above and change it into 3

In [3]:
import pandas as pd
daily_engagement = pd.read_csv('daily-engagement-full.csv')
len(daily_engagement['acct'].unique())

1237

In [ ]:
1d or 1 dimensional data mean we are working with 1 column
Pandas and numpy have data structures used to represent 1 dimensional data

               NUMPY(NUMerical PYthon)            PANDAS
Data Struct    Array                              Series (built on Arrays)
               Easier                             More Features

NUMPY array is much like a list and has a sequence of elements
['AL', 'AK', 'AZ', 'AR', 'CA',,,]

LISTS                           NUMPY
access elements by index        same
slicing                         same
for loops                       same
multiple data types             single data type
list work with math library     numpy has built in functions like mean(), std()
                                multi-dimensional

In [ ]:
# long hand way of combining two lists
def max_employment(countries, employment):
    '''
    Fill in this function to return the name of the country
    with the highest employment in the given employment
    data, and the employment in that country.
    '''
    max_country = None      # Replace this with your code
    max_value = 0   # Replace this with your code
    
    for i in range(len(countries)):
        country = countries[i]
        country_employment = employment[i]
        
        if country_employment > max_employment:
            max_country = country
            max_employment = country_employment

    return (max_country, max_value)

In [9]:
# using NUMPY
# max will bring back the max value arg max will bring back the value and corresponding data
def max_employment2(countries, employment):
    i = employment.argmax()
    return (countries[i], employment[i])

In [10]:
import numpy as np

In [11]:
countries = np.array([
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
])

In [12]:
# Employment data in 2007 for those 20 countries
employment = np.array([
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
])

In [13]:
# accessing elements
print(countries[0])
print(countries[3])

Afghanistan
Angola

In [14]:
# slicing
print(countries[0:3])
print(countries[:3])
print(countries[17:])
print(countries[:])

['Afghanistan' 'Albania' 'Algeria']
['Afghanistan' 'Albania' 'Algeria']
['Bhutan' 'Bolivia' 'Bosnia and Herzegovina']
['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina']

In [15]:
# Data types
print(countries.dtype)
print(employment.dtype)
print(np.array([0, 1, 2, 3]).dtype)
print(np.array([1.0, 1.5, 2.0, 2.5]).dtype)
print(np.array([True, False, True]).dtype)
print(np.array(['AL', 'AK', 'AZ', 'AR', 'CA']).dtype)

<U22
float64
int32
float64
bool
<U2

In [18]:
# Loops
for country in countries:
        print('Examining country {}'.format(country))

Examining country Afghanistan
Examining country Albania
Examining country Algeria
Examining country Angola
Examining country Argentina
Examining country Armenia
Examining country Australia
Examining country Austria
Examining country Azerbaijan
Examining country Bahamas
Examining country Bahrain
Examining country Bangladesh
Examining country Barbados
Examining country Belarus
Examining country Belgium
Examining country Belize
Examining country Benin
Examining country Bhutan
Examining country Bolivia
Examining country Bosnia and Herzegovina

In [19]:
for i in range(len(countries)):
    country = countries[i]
    country_employment = employment[i]
    print('Country {} has employment {}'.format(country,
                country_employment))

Country Afghanistan has employment 55.70000076
Country Albania has employment 51.40000153
Country Algeria has employment 50.5
Country Angola has employment 75.69999695
Country Argentina has employment 58.40000153
Country Armenia has employment 40.09999847
Country Australia has employment 61.5
Country Austria has employment 57.09999847
Country Azerbaijan has employment 60.90000153
Country Bahamas has employment 66.59999847
Country Bahrain has employment 60.40000153
Country Bangladesh has employment 68.09999847
Country Barbados has employment 66.90000153
Country Belarus has employment 53.40000153
Country Belgium has employment 48.59999847
Country Belize has employment 56.79999924
Country Benin has employment 71.59999847
Country Bhutan has employment 58.40000153
Country Bolivia has employment 70.40000153
Country Bosnia and Herzegovina has employment 41.20000076

In [20]:
# built in stats
print(employment.mean())
print(employment.std())
print(employment.max())
print(employment.sum())

58.68500003850001
9.338269113687888
75.69999695
1173.70000077

### Vectorized Operations
This takes each indexed spot and adds them together
vector 1    Vector 2
|1|2|3|4| + |5|6|7|8|9| = |6|8|10|12|9|

or when multiplied by a single number(scalar - scale'er) the scaler will be applied to each position
|1|2|3|4| * 4 = |4|8|12|16|

#### More Vectorized Operations
MATH    +, -, *, /

LOGICAL  And, Or, Not

COMPARISON >, >=, <, <=, ==, !=

In [24]:
# First 20 countries with school completion data
countries = np.array([
       'Algeria', 'Argentina', 'Armenia', 'Aruba', 'Austria','Azerbaijan',
       'Bahamas', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Bolivia',
       'Botswana', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Cape Verde'
])

# Female school completion rate in 2007 for those 20 countries
female_completion = np.array([
    97.35583,  104.62379,  103.02998,   95.14321,  103.69019,
    98.49185,  100.88828,   95.43974,   92.11484,   91.54804,
    95.98029,   98.22902,   96.12179,  119.28105,   97.84627,
    29.07386,   38.41644,   90.70509,   51.7478 ,   95.45072
])

# Male school completion rate in 2007 for those 20 countries
male_completion = np.array([
     95.47622,  100.66476,   99.7926 ,   91.48936,  103.22096,
     97.80458,  103.81398,   88.11736,   93.55611,   87.76347,
    102.45714,   98.73953,   92.22388,  115.3892 ,   98.70502,
     37.00692,   45.39401,   91.22084,   62.42028,   90.66958
])

In [25]:
#If you want to find out completion rate we will need to 
#Add the femail and males together from each country, this will give us the total of both arrays
#or Total array. 
#we can then divide total array by 2

def overall_completion_rate(female_completion, male_completion):
    return (female_completion + male_completion) / 2
overall_completion_rate(female_completion, male_completion)

array([ 96.416025, 102.644275, 101.41129 ,  93.316285, 103.455575,
        98.148215, 102.35113 ,  91.77855 ,  92.835475,  89.655755,
        99.218715,  98.484275,  94.172835, 117.335125,  98.275645,
        33.04039 ,  41.905225,  90.962965,  57.08404 ,  93.06015 ])

In [34]:
###FIX

# in the next scenario we are comparing How one data point compares to the rest US vs other countries
# To Answer convert each data point to number of standard deviations away from the mean

import numpy as np

# First 20 countries with employment data
countries = np.array([
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
])

# Employment data in 2007 for those 20 countries
employment = np.array([
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
])

# Change this country name to change what country will be printed when you
# click "Test Run". Your function will be called to determine the standardized
# score for this country for each of the given 5 Gapminder variables in 2007.
# The possible country names are available in the Downloadables section.

country_name = 'United States'


def standerdize_data(values):
    standardized_value = (values - values.mean()) / values.std()
    return standardized_value
standerdize_data(country_name)

AttributeError: 'str' object has no attribute 'mean'

In [37]:
##NUMPY INDEX ARRAYS
import numpy as np

# Change False to True for each block of code to see what it does

# Using index arrays
if False:
    a = np.array([1, 2, 3, 4])
    b = np.array([True, True, False, False])
    
    print(a[b])
    print(a[np.array([True, False, True, False])])
    
# Creating the index array using vectorized operations
if False:
    a = np.array([1, 2, 3, 2, 1])
    b = (a >= 2)
    
    print(a[b])
    print(a[a >= 2])
    
# Creating the index array using vectorized operations on another array
if False:
    a = np.array([1, 2, 3, 4, 5])
    b = np.array([1, 2, 3, 2, 1])
    
    print(b == 2)
    print(a[b == 2])

def mean_time_for_paid_students(time_spent, days_to_cancel):
    '''
    Fill in this function to calculate the mean time spent in the classroom
    for students who stayed enrolled at least (greater than or equal to) 7 days.
    Unlike in Lesson 1, you can assume that days_to_cancel will contain only
    integers (there are no students who have not canceled yet).
    
    The arguments are NumPy arrays. time_spent contains the amount of time spent
    in the classroom for each student, and days_to_cancel contains the number
    of days until each student cancel. The data is given in the same order
    in both arrays.
    '''
    is_paid = days_to_cancel >= 7
    paid_time = time_spetn[is_paid]
    return pa

# Time spent in the classroom in the first week for 20 students
time_spent = np.array([
       12.89697233,    0.        ,   64.55043217,    0.        ,
       24.2315615 ,   39.991625  ,    0.        ,    0.        ,
      147.20683783,    0.        ,    0.        ,    0.        ,
       45.18261617,  157.60454283,  133.2434615 ,   52.85000767,
        0.        ,   54.9204785 ,   26.78142417,    0.
])

# Days to cancel for 20 students
days_to_cancel = np.array([
      4,   5,  37,   3,  12,   4,  35,  38,   5,  37,   3,   3,  68,
     38,  98,   2, 249,   2, 127,  35
])

In [ ]:
# + vs. +=

Pandas Series
like Numpy but with some added functionality

In [41]:
import pandas as pd

countries = ['Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda',
             'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
             'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
             'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia']

life_expectancy_values = [74.7,  75. ,  83.4,  57.6,  74.6,  75.4,  72.3,  81.5,  80.2,
                          70.3,  72.1,  76.4,  68.1,  75.2,  69.8,  79.4,  70.8,  62.7,
                          67.3,  70.6]

gdp_values = [ 1681.61390973,   2155.48523109,  21495.80508273,    562.98768478,
              13495.1274663 ,   9388.68852258,   1424.19056199,  24765.54890176,
              27036.48733192,   1945.63754911,  21721.61840978,  13373.21993972,
                483.97086804,   9783.98417323,   2253.46411147,  25034.66692293,
               3680.91642923,    366.04496652,   1175.92638695,   1132.21387981]

# Life expectancy and gdp data in 2007 for 20 countries
life_expectancy = pd.Series(life_expectancy_values)
gdp = pd.Series(gdp_values)

# Change False to True for each block of code to see what it does

# Accessing elements and slicing
if False:
    print(life_expectancy[0])
    print(gdp[3:6])
    
# Looping
if False:
    for country_life_expectancy in life_expectancy:
        print('Examining life expectancy {}'.format(country_life_expectancy))
        
# Pandas functions
if False:
    print(life_expectancy.mean())
    print(life_expectancy.std())
    print(gdp.max())
    print(gdp.sum())

# Vectorized operations and index arrays
if False:
    a = pd.Series([1, 2, 3, 4])
    b = pd.Series([1, 2, 1, 2])
  
    print(a + b)
    print(a * 2)
    print(a >= 3)
    print(a[a >= 3])

In [43]:
def variable_correlation(variable1, variable2):
    '''
    Fill in this function to calculate the number of data points for which
    the directions of variable1 and variable2 relative to the mean are the
    same, and the number of data points for which they are different.
    Direction here means whether each value is above or below its mean.
    
    You can classify cases where the value is equal to the mean for one or
    both variables however you like.
    
    Each argument will be a Pandas series.
    
    For example, if the inputs were pd.Series([1, 2, 3, 4]) and
    pd.Series([4, 5, 6, 7]), then the output would be (4, 0).
    This is because 1 and 4 are both below their means, 2 and 5 are both
    below, 3 and 6 are both above, and 4 and 7 are both above.
    
    On the other hand, if the inputs were pd.Series([1, 2, 3, 4]) and
    pd.Series([7, 6, 5, 4]), then the output would be (0, 4).
    This is because 1 is below its mean but 7 is above its mean, and
    so on.
    '''
    both_above = (variable1 > variable1.mean()) & \
                 (variable2 > variable2.mean())
    both_below = (variable1 < variable1.mean()) & \
                 (variable2 < variable2.mean())
    is_same_direction = both_above | both_below  
    num_same_direction = is_same_direction.sum()       # Replace this with your code
    num_different_direction = len(variable1) - num_same_direction   # Replace this with your code
    
    return (num_same_direction, num_different_direction)

In [44]:
variable_correlation(life_expectancy, gdp)

(17, 3)

In [ ]:
# ARRAY vs SERIES (series allows you to create an index)

In [47]:
# Numpy Array is a powerful version of doing lists
countries = np.array(['Albania', 'Algeria', 'Andorra', 'Angola'])
life_expectancy = np.array([74.7,  75. ,  83.4,  57.6])
print(countries)
print(life_expectancy)

['Albania' 'Algeria' 'Andorra' 'Angola']
[74.7 75.  83.4 57.6]

In [48]:
#Pandas Series is a powerfuly way to do lists and dictionaries
life_expectancy = pd.Series([74.7,  75. ,  83.4,  57.6],
                            index=['Albania', 'Algeria', 'Andorra', 'Angola'])
print(life_expectancy)

Albania    74.7
Algeria    75.0
Andorra    83.4
Angola     57.6
dtype: float64

In [ ]:
#LOOKUPS

In [49]:
#by index
life_expectancy[0]

74.7

In [52]:
# iloc still by location and is personal preference
life_expectancy.iloc[0]

74.7

In [51]:
# by loc
life_expectancy.loc['Angola']

57.6

In [58]:
#idmax is max over the series
def max_country(life_expectancy):
    max_country = life_expectancy.idxmax()
    max_value = life_expectancy.loc[max_country]
    
    return (max_country, max_value)
max_country(life_expectancy)

('Andorra', 83.4)

In [59]:
# Series Indexes
import pandas as pd

# Change False to True for each block of code to see what it does

# Addition when indexes are the same
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
    print(s1 + s2)

# Indexes have same elements in a different order
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['b', 'd', 'a', 'c'])
    print(s1 + s2)

# Indexes overlap, but do not have exactly the same elements
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['c', 'd', 'e', 'f'])
    print(s1 + s2)

# Indexes do not overlap
if False:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['e', 'f', 'g', 'h'])
    print(s1 + s2)

In [61]:
#Filling missing Values
import pandas as pd
s1 = pd.Series([1,2,3,4], index = ['a', 'b','c', 'c'])
s2 = pd.Series([10, 20, 30 ,40], index=['c', 'd', 'e', 'f'])

sum_result = s1 + s2
print(sum_result)

a     NaN
b     NaN
c    13.0
c    14.0
d     NaN
e     NaN
f     NaN
dtype: float64

In [64]:
sum_result = sum_result.dropna()
print(sum_result)

c    13.0
c    14.0
dtype: float64

In [66]:
# replace value
#Filling missing Values
import pandas as pd
s1 = pd.Series([1,2,3,4], index = ['a', 'b','c', 'c'])
s2 = pd.Series([10, 20, 30 ,40], index=['c', 'd', 'e', 'f'])

sum_result = s1 + s2
sum_result = s1.add(s2, fill_value = 0)
print(sum_result)

a     1.0
b     2.0
c    13.0
c    14.0
d    20.0
e    30.0
f    40.0
dtype: float64

## Apply () 
takes a series and a function and returns a new series.
This allows you to create a function and use it over your list. 
so for example you have some data called data and you run a calc over it that has no built in function in pandas. So you create a function called calc.
Here is how you would call it. 

data.apply(calc)

In [77]:
import pandas as pd
states = pd.Series([
    'California','OH','Michigan', 'NY'
])

In [78]:
# I have a function that transorms long state names to abbreviate forms
def clean_state(state):
    if len(state) == 2:
        return state
    elif state == 'Alabama':
        return 'AL'
    #....
    elif state == 'California':
        return 'CA'
    elif state == 'Michigan':
        return 'MI'

In [79]:
clean_states = states.apply(clean_state)
print(clean_states)

0    CA
1    OH
2    MI
3    NY
dtype: object

In [ ]:
# SPLIT()